{% extends 'base.html' %}
{% block content %}
    {% for product in product.all %}
    <div class="row pt-3">
        <div class="col-2" onclick="window.location='{% url 'detail' product.id %}';" style="cursor:pointer;" />
            <img src="{{ product.image.url }}" class="img-fluid" />
        </div>
        <div class="col-6">
        <h3>{{ product.title }}</h3>
        <p>{{ product.summary }}</p>
        </div>
        <div class="col-4">
        <a href="javascript:{document.getElementById('up_vote{{ product.id}}').submit()}">><button class='btn btn-primary btn-lg btn-block'><span class="oi oi-caret-top"></span>Upvote {{ product.upvote }}</button></a>
        </div>
    </div>
    <form id="up_vote{{ product.id}}" method="POST" action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden" />
    </form>
    {% endfor %}
{% endblock %}  